* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #212529 !important;
  /* background-image: linear-gradient(to right, #fe39a4, #fffdbb); */
}
nav {
  border-bottom: 0.3px solid aquamarine;
  box-shadow: 0 0 2px aquamarine, 0 0 5px aquamarine, 0 0 10px aquamarine,
    0 0 15px aquamarine;
}
.navcust {
  padding: 10px;
}
.navcust:hover {
  border-bottom: 1px solid pink;
  box-shadow: 0 0 5px pink, 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
  padding: 10px;
  border-radius: 5px;
}
.logo {
  height: 50px;
}
.offcanvas-header {
  border-bottom: 1px solid white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect_part_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
  border: 0.5px solid black;
  box-shadow: 0 0 2px gray, 0 0 4px gray, 0 0 8px gray, 0 0 14px gray;
  margin: 10px;
}
.income_txt {
  color: #7fff00;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  margin: 15px;
}
.expense_txt {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  letter-spacing: 2px;
}
.debt_txt {
  color: darkkhaki;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 2px;
  margin: 15px;
}
.total_txt {
  color: cornflowerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  margin: 15px;
}
.inc_button,
.exp_button,
.debt_button {
  padding: 11px;
  border-radius: 10px;
  width: 160px;
}
.inc_button {
  outline: 1px solid greenyellow;
  background-color: #212529;
  color: greenyellow;
}
.inc_button:hover {
  outline: none;
  background-color: greenyellow;
  color: black;
}
.exp_button {
  outline: 1px solid red;
  background-color: #212529;
  color: red;
}
.exp_button:hover {
  outline: none;
  background-color: red;
  color: black;
}
.debt_button {
  outline: 1px solid darkkhaki;
  background-color: #212529;
  color: darkkhaki;
}
.debt_button:hover {
  outline: none;
  background-color: darkkhaki;
  color: black;
}
.inc_button_2,
.exp_button_2,
.debt_button_2 {
  padding: 11px;
  border-radius: 100%;
  width: 50px;
  display: none;
}
@media screen and (max-width: 600px) {
  .logo {
    height: 35px;
  }
  .income,
  .expense,
  .total,
  .debt {
    /* width: 60%; */
    font-size: 13px;
    padding-left: 10px;
    border: 0.5px solid cornsilk;
    box-shadow: 0 0 2px cornsilk, 0 0 4px cornsilk, 0 0 8px cornsilk,
      0 0 14px cornsilk;
  }
  .income {
    color: chartreuse;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }
  .expense {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .total {
    color: cornflowerblue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }
  .debt {
    color: darkkhaki;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 2px;
  }
  .inc_button,
  .exp_button,
  .debt_button {
    display: none;
  }
  .inc_button_2,
  .exp_button_2,
  .debt_button_2 {
    display: block;
  }
}
@media screen and (min-width: 601px) and (max-width: 1100px) {
  .income,
  .expense,
  .total,
  .debt {
    /* width: 60%; */
    font-size: 18px;
    padding-left: 10px;
    border: 0.5px solid cornsilk;
    box-shadow: 0 0 2px cornsilk, 0 0 4px cornsilk, 0 0 8px cornsilk,
      0 0 14px cornsilk;
  }
  .income {
    color: chartreuse;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }
  .expense {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .total {
    color: cornflowerblue;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }
  .debt {
    color: darkkhaki;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 2px;
  }
}
.c {
  color: darkkhaki;
}
